cake/
tmp/
/config/atlas.php 
/config/core.php
/config/database.php
storage/
/config/core.php
.settings
.project
webroot/files/public/*
webroot/img/public/*
webroot/img/_thumbs/*
webroot/img/default/*
webroot/img/admin/admin_header_logo.jpg
webroot/img/kiosk/kiosk_header.jpg
config/atlas.php
webroot/index.php
webroot/css/style.css
webroot/js/ckfinder/config.php
webroot/files/pdftk.exe
webroot/test.php
views/layouts/default.ctp
views/website_views/pages/home.ctp
*.sdocml
*.DS_STORE