[submodule "plugins/queue"]
	path = plugins/queue
	url = git://github.com/MSeven/cakephp_queue.git
[submodule "plugins/acl_extras"]
	path = plugins/acl_extras
	url = git://github.com/markstory/acl_extras.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = git://github.com/cakephp/debug_kit.git
[submodule "vendors/PHPExcel"]
	path = vendors/PHPExcel
	url = git://github.com/PHPOffice/PHPExcel.git
[submodule "vendors/chromephp"]
	path = vendors/chromephp
	url = git://github.com/ccampbell/chromephp.git
[submodule "vendors/simpletest"]
	path = vendors/simpletest
	url = git://github.com/99designs/simpletest.git
[submodule "vendors/Requests"]
	path = vendors/Requests
	url = git://github.com/rmccue/Requests.git
