cake/
tmp/
/config/atlas.php 
/config/core.php
/config/database.php
storage/
/config/core.php
.settings
.project
webroot/files/public/*
webroot/img/public/*
webroot/img/default/*
webroot/img/default
webroot/img/_thumbs/*
*/default
webroot/img/admin/admin_header_logo.jpg
webroot/img/kiosk/kiosk_header.jpg
config/atlas.php
webroot/index.php
webroot/css/style.css
webroot/js/ckfinder/config.php
webroot/js/default/*
webroot/js/default
webroot/files/pdftk.exe
webroot/test.php
webroot/files/presenter/*
views/layouts/default.ctp
views/website_views/pages/home.ctp
*.sdocml
*.DS_STORE
*.DS_Store
design
/design/*
*.sublime-project
*.sublime-workspace
plugins/*
!plugins/acl_extras
!plugins/debug_kit
!plugins/queue
*.taskpaper
tags
docs
docs/*
shared/
.rvmrc
.vagrant/*
views/themed/*
/views/themed/*
webroot/css/theme
webroot/img/theme
webroot/js/theme
webroot/img/social-stream
webroot/vendors
