/* 
    Document   : kiosk.css
    Created on : Oct 6, 2010, 10:43:02 AM
    Author     : dnolan
    Description: Style Sheet For Kiosk Views.
    Copyright  : Complete Technology Solutions 2010 
*/

/* HTML Elments */
html {
    Overflow-y:hidden;
    Overflow-x:hidden;
}

body {
    font-size: 25px;
}

p {
    margin: 10px 0 10px 0;
}

strong {
    font-weight: bold;
}

/* Text */

.small {
    font-size: 15px;
}

.gray {
    color: #333333;
}

/* Structure Elements */

#container {
    width: 1000px;
}

#header {
    margin-top: 10px;
    text-align: center;
}

#content {
    font-family: sans-serif;
    width: 910px;
    margin: auto;
    overflow: hidden;
}

.self-sign-survey-wrapper, .self-sign-wrapper, .self-scan-wrapper {
    position: relative;
    margin-top: 50px;
    border: #000 thin solid;
    width: 900px;
}

.id-login-wrapper {
    position: relative;
    margin-top: 50px;
    border: #000 thin solid;
    width: 900px;
	height: 388px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#footer {
    font-family: Arial,Helvetica,sans-serif;
    margin: 20px auto ;
    width: 890px;
    font-size: 11px;
}

/* Margin Classes */

.left-mar-10 {
margin-left: 10px;
}

.left-mar-20 {
margin-left: 20px;
}

.left-mar-100 {
margin-left: 100px;
}

/* Specific Styles */

.readonly {
	background-color: #BCBCBC;
}

.self-sign-wrapper .submit {
    width: 284px;
    margin: 15px auto 10px;
}

.self-sign-survey-wrapper h1, .self-sign-wrapper h1,  .self-scan-wrapper h1, #SelfScanDoument h1, .id-login-wrapper h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin: 0;
    background-color: #0B1560;
}

#SelfScanDoument h1 {
	margin-bottom: 10px;
}

.self-sign-survey-wrapper h2, .self-sign-wrapper h2, .self-scan-wrapper h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    background-color: #0B1560;
}

.input {
    width: 900px;
}

.input p:first-child {
    width: 400px;
    text-align: right;
}

.input input, select {
    width: 300px;
    margin-left: 10px;
}

.message {
    background-color: #fff;
    padding: 10px;
    font-size: 25px;
}

.flash-failure {
    color: red;
}

.flash-success {
    color: green;
}

#authMessage.message {
    color: red;
}

#errorMessage .error {
    color: red;
    font-size: 25px;
    padding: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    width: 290px;
}

#KioskSelfSignEditForm .error-message {
    position: relative;
    left: 410px;
}

#UserMiniRegistrationForm .error-message {
    float: left;
    margin-top: 15px;
    margin-left: 40px;
}

.button-row {
	margin: 24px auto;
	text-align: center;
	width: 100%;
}

.self-sign-survey-wrapper div .ui-button.self-sign-survey-button, .self-scan-survey-button {
    /* width:200px;*/
    height: 50px;
    font-size: 19px;
    line-height: 2em !important;
    margin: 0 0 24px;
}

.self-sign-kiosk-button, .self-scan-kiosk-button {
    width:284px;
    height: 62px;
    font-size: 18px;
}

.self-sign-kiosk-link, .self-scan-kiosk-link{
    width:284px;
    height: 60px;
}

.self-sign-kiosk-link span,  .self-scan-kiosk-link span{
    white-space: nowrap
}

.actions .ui-button-text{
  position: relative;
  top: 25%;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 16px;
}

.spanish .ui-button-text {
	white-space: normal;	
	width: 250px;
}

.spanish .self-sign-kiosk-link {
    width:284px;
    height: 75px;
}

.spanish .self-scan-kiosk-link {
	    width:284px;
    height: 75px;
}

#UserSelfSignLoginForm .error-message{
    margin-left: 415px;
}

#miniRegistration.self-sign-wrapper {
    margin-top: 0;
	font-size: 22px
}

#miniRegistration p{
    width: 400px;
    margin: 0;
    margin-top: 5px;
}

#miniRegistration.input p:first-child {
    width: 500px;
    text-align: right;
}

#miniRegistration br {
    line-height: 0px;
}

#miniRegistration .self-sign-kiosk-link {
	display: block;
	margin: 0 0 10px;
}

#miniRegistration .self-sign-kiosk-button{
	margin-right: 10px;
}

#miniRegistration .self-sign-kiosk-link .ui-button-text{
	font-size: 18px;
	padding: 20px 100px;
}

#miniRegistration .submit {
	margin: 10px 0 0 165px;
}

#miniRegistration .error-message {
	margin-left: 415px;
}

#miniRegistration .ssn4 .error-message {
	margin-left: 250px;
	width: 565px;
}

#password_UserSsn1, #password_UserSsn1Confirm  {
	width: 70px;
}

#password_UserSsn2Confirm, #password_UserSsn2 {
	width: 50px;
}

#password_UserSsn3, #password_UserSsn3Confirm {
	width: 90px;
}

#selfSignConfirm  {
    text-align: center;
}

#selfSignConfirm .actions {
    width: 900px;
    margin: 60px auto 0 auto;
}

#selfSignConfirm .actions a {
    display: inline-block;
}


#selfSignEdit p {
	margin: 5px 0 0 0; 
}

#selfSignEdit .error-message {
	margin-left: 415px; 
}

#selfScanAnother .actions {
        width: 600px;
    margin: 60px auto 60px auto;
}

#scanForm {
	width: 480px;
}

#selfSignConfirm  p {
    margin: 5px 0 0 0;
}

#selfSignConfirm .actions a:first-child {
    margin-right: 50px;
}

#selfSignConfirm .align-right {
    width: 450px;
    text-align: right;
    margin-right: 10px;
}

#selfSignService .actions, #selfScanProgram .actions{
    width: 900px;
    padding: 30px 0px 30px 10px;
    overflow: hidden;
}

#selfSignService .actions a, #selfScanProgram .actions a{
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

#KioskSelfSignOtherForm input[type='text']{
    width: 500px;
}

#KioskSelfSignOtherForm .input p:first-child {
    width: 215px;
    text-align: right;
}

#KioskSelfSignOtherForm .error-message {
    margin-left: 225px;
}

.self-sign-wrapper .error-message {
    margin-left:410px;
}

#copyright {
    width: 775px;
}

#idletimeout {
    background:none repeat scroll 0 0 #CC0000;
    border:3px solid #000;
    color:#FFFFFF;
    display: none;
    font-size:14px;
    left:0;
    padding:10px;
    position:relative;
    right:0;
    text-align:center;
    top:0;
    z-index:100000;
    margin-bottom: 10px;
}

#idletimeout a {
    color:#000;
    font-weight:bold;
}

#idletimeout span {
    font-weight:bold;
}

#selfSignOther .actions {
    width: 285px;
    margin: 0 auto 10px auto;
}

a.translate-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #ababab) );
	background:-moz-linear-gradient( center top, #e0e0e0 5%, #ababab 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#ababab');
	background-color:#e0e0e0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a1a1a1;
	display:inline-block;
	color:#424242;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

a.translate-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #e0e0e0) );
	background:-moz-linear-gradient( center top, #ababab 5%, #e0e0e0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#e0e0e0');
	background-color:#ababab;
}

a.translate-button:active {
	position:relative;
	top:1px;
}

div.survey-button {
  bottom: 2px;
  position: absolute;
  left: 2px;
}

div.survey-button a {
  background: transparent url(../img/kiosk/survey-button.jpg) 0 0 no-repeat;
  display: block;
  height: 100px;
  text-indent: -9999px;
  width: 89px;
}

div.survey-nav .back {
  float: left;
  margin-left: 40px;
}

div.survey-nav .next {
  float: right;
  margin-right: 40px;
}

div.question-number {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.cancel-button {
	font-size: 16px;
}

/* debug stuffs */
.cake-sql-log { font-family:monospace; position:fixed; top:99%; z-index:100000; width:100%; background:#000; color:#FFF; border-collapse:collapse; }
.cake-sql-log caption { background:#900; color:#FFF; }
.cake-sql-log:hover { top:auto; bottom:0; }
.cake-sql-log td { font-size:3px; padding:1px; border:1px solid #999; background:#FFF; color:#000; }
.cake-sql-log td:hover { font-size:10px; background:#FFA; }
