/*
    Document   : style
    Created on : Dec 13, 2010, 3:06:41 PM
    Author     : Daniel Nolan
    Description: main site style sheet
    Copyright  : Complete Technology Solutions

*/

/* HTML Elements */

html {
	background: #1875BB;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-y: scroll;
}


a {
    color: #3B71A0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: orange;
    font-size: 15px;
    font-weight: bold;
}

h2 {
    color: orange;
    font-size: 12px;
    font-weight: bold;
}

strong {
    font-weight: bold;
}


/* Text */
.small {
    font-size: 11px;
}

.normal {
    font-weight: normal;
}

/* Margin Classes */
.bot-mar-10 {
    margin-bottom: 10px;
}

.right-mar-10 {
    margin-right: 10px;
}

.left-mar-10 {
    margin-left: 10px;
}

/* Structure Elements */

#container {
    margin: 0 auto;
    width: 977px;
}

#header {
    width: 970px;
    color: #333;
    padding: 0 0 0 0;
    height: 90px;
    margin: 0;
    background: #FFF;
}

#nav {
    color: white;
    background-color: #333;
    height: 30px;

}

#nav li {
    float: left;
    margin: 8px 10px 0 ;

}

#nav a {
    color: white;

}

#content {
    width: 950px;
    color: #333;
    background: #fff;
    margin: 0px 0px 5px 0px;
    padding: 10px;
    min-height: 400px;
    overflow: hidden;
}

#footer {
    background-color: #fff;
    font-size: 10px;
    font-weight: normal;
    color: #000;
    width: 950px;
    border: none;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/*Specific Styles */

#logo{
    font-size: 40px;
    margin: 10px 0 0 10px;
}

#logoLogout {
    text-align: right;
    margin: 0 10px 10px 0;
}

#logoLogout img{
    margin-top: 15px;
    margin-bottom: 10px;
}

#logoLogout p{
    height: 15px;
    width: 300px;
}

#content h1 {
    margin: 5px 10px 5px 0;
}


/* nav */
#navigation {
    background: #fff;
    margin: 5px 0;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    width: 950px;
}

#navigation ul {
    background: #fff;
    width: 775px;
    margin: 0 auto;
}

#navigation ul li {
    background: #fff;
    float: left;
    margin-right: 25px;
}

#navigation ul li a {
    font-size: 14px;
    display: block;
    padding: 0 10px;
}

#navigation ul li a:hover {
    background-color: #1875BB;
    color: #fff;
    text-decoration: none;
}

/* nav */
#bottom_navigation {
    background: #fff;
    margin: 5px 0;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    width: 950px;
}

#bottom_navigation ul {
    background: #fff;
    width: 775px;
    margin: 0 auto;
}

#bottom_navigation ul li {
    background: #fff;
    float: left;
    margin-right: 25px;
}

#bottom_navigation ul li a {
    font-size: 14px;
    display: block;
    padding: 0 10px;
}

#bottom_navigation ul li a:hover {
    background-color: #1875BB;
    color: #fff;
    text-decoration: none;
}

.hotJobs .job, .featuredEmployers .featuredEmployer,
.rfps .rfp {
	border-bottom: 1px solid #3366CC;
	margin: 8px 0 18px;
	padding: 0 0 12px;
}

.hotJobs .job h2,
.featuredEmployers .featuredEmployer h2,
.rfps .rfp h2 {
	margin: 0 0 12px 0;
}

.hotJobs .job p,
.featuredEmployers .featuredEmployer p,
.rfps .rfp p {
	margin: 0 0 12px;
}

.hotJobs .job ul,
.featuredEmployers .featuredEmployer ul, 
.rfps .rfp ul{
	margin: 0 0 12px 10px;
}

.rfp_download {
	display: block;
	margin-left: 10px;
	width: 96px;
}
.rfp_download:hover {
	text-decoration: none;
}
.rfp_download img {
	margin: 0 0 0 16px;
}

.inTheNews {
	margin: 12px 0 0;
}

.inTheNews .article {
	border-top: 1px solid #D0E0EE;
	margin: 0 0 18px;
	padding: 8px 0;
}

.inTheNews .article .date {
	color: #666;
	margin: 0 0 12px;
}

.inTheNews .article h2 {
	font-size: 13px;
	margin: 0 0 2px;
}

.inTheNews .article .reporter {
	color: #888888;
	display: block;
	font-style: italic;
	margin: 0 0 12px;
}

.inTheNews .article .summary {
	line-height: 1.4em;
	margin: 0 0 18px;
	width: 450px;
}

.counter {
	color: #A4A4A4;
}

.locations {
	margin: 15px 0 0;
}

.locations .location {
	border-top: 1px solid #D0E0EE;
	height: 200px;
	margin: 0 0 18px;
	padding: 25px 0;
}
